.App {
  text-align: center;
  background-color: #FFF1D0;
  background-size: cover;
  background-image: url('./pics/PinClipart.com_entrepreneur-clipart_2887198.png');
  background-position: bottom 2vh left 3vw;
  background-size: 20vh;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #020122;
  overflow: scroll;
}

.home {
  background-color: #FFF1D0;
  background-image: none;
  height: 100vh;
  padding: 1px;
  animation: colorshift 3s;
}

.home p {
  margin: auto 10vw;
}

@keyframes colorshift {
  0% {background: #020122;}
  75% {background: #020122;}
  100% {background: #FFF1D0;}
}

.header {
  color: #DF2935;
  background-color: #020122;
  margin: 0;
  padding: 1vh 0 0 0;
  position: relative;
}

.header h3, nav, .home p, .home a, .home h4 {
  animation: appear 3s;
  animation-iteration-count: 1;
}

@keyframes appear {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

.good-dad {
  font-family: 'Mr Dafoe', cursive;
  margin: 5px auto -25px;
  position: relative;
  font-size: 70px;
  animation: shrinkandmoveup 1s;
}

@keyframes shrinkandmoveup {
  0% {top: 100vw; font-size: 270px;}
  100% {top: 0; font-size: 70px;}
}

.bad-jokes {
  font-family: 'Rock 3D', cursive;
  margin: 0 auto;
  position: relative;
  animation: moveleft 2s;
}

@keyframes moveleft {
  0% {left: 100vw;}
  50% {left: 100vw;}
  100% {left: 0;}
}

.header h3 {
  font-family: 'Roboto', sans-serif;
  color: #07A0C3;
}

a {
  text-decoration: none;
  color: #DF2935;
}

nav {
  background-color: #DF2935;
  display: flex;
  justify-content: center;
  padding: 2vh 1vw 2vh 1vw;
  margin: 0;
}

nav a {
  margin: 0 2vw;
  color: #FFF1D0;
  text-decoration: none;
}

nav a:hover {
  color: #020122;
}

.laughing-dad {
  width: 250px;
  position: relative;
  animation-name: moveup;
  animation-duration: 4s;
  animation-iteration-count: 1, 0;
}

@keyframes moveup {
  0%  {top: 100vh; right: 100vw;}
  90% {top: 100vh; right: 100vw;}
  100% {top: 0; right: 0;}
}

.joke {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  margin: 5vh;
}

.joke-card {
  background-color: #07A0C3;
  padding: 1.5rem 2rem;
  box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.15);
  max-width: 40vw;
}

.joke p {
  font-size: x-large;
}

.punchline-likes {
  display: none;
  background-color: #020122;
  color: #FFF1D0;
  padding: 1.5rem 2rem;
}

.joke-card:hover > .punchline-likes {
  display: block;
}

.likes-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border: 1px solid #020122;
  border-radius: 12px;
  width: 80px;
  margin: auto auto 2vh;
}

#liked {
  background-color: #DF2935;
  color: #020122;
}

#not-liked {
  background-color: #07A0C3;
  color: #020122;
}

#not-liked:hover, #liked:hover {
  background-color: #2e3e53;
}

.laugh-image {
  height: 25px;
}

.joke button {
  margin: 5vh auto;
  font-size: large;
  height: 10vh;
  width: 10vw;
  min-width: 7rem;
  box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.15);
}

button {
  background-color: #020122;
  color: #FFF1D0;
  padding: 0.75rem 1rem;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.form button + button {
  margin: 0 6rem;
}

button:focus {
  box-shadow: 0 0 5px#2e3e53;
  outline: none;
}

button:hover {
  background-color: #086788;
  color: #020122;
}

form {
  background-color: #07A0C3;
  padding: 1.5rem 2rem;
  text-align: left;
}

textarea {
  display: block;
  margin: 0.5rem 0 0.5rem;
  height: 4.5rem;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

textarea:focus {
  border-color: #2e3e53;
  outline: none;
}

textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  opacity: 1;
  transform: translateY(-7rem);
}

textarea + label {
  color: #020122;
  display: block;
  opacity: 0;
  transform: translateY(-5rem);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

input {
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem 0.1rem;
  width: 99%;
  font-family: 'Roboto', sans-serif;
}

input:focus {
  border-color: #2e3e53;
  outline: none;
}

input + label {
  color: #020122;
  display: block;
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  opacity: 1;
  transform: translateY(-4.25rem);
}

.form {
  background: linear-gradient(to left, #ffecae, #ffd241);
  box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
  overflow: scroll;
}

.form p, .form li {
  margin-top: 0.5rem 0;
  font-size: 12px;
}

.invalid,
.valid {
  align-items: center;
  display: flex;
  margin: 1rem 0;
}

form ~ .invalid,
form ~ .valid {
  margin: 0;
  padding: 1rem 2rem 2rem;
}

.invalid {
  color: #DF2935;
}

.valid {
  color: #020122;
}

.invalid::before,
.valid::before {
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.25rem;
}

.invalid::before {
  background-image: url("./pics/sad.png");
  background-size: contain;
}

.valid::before {
  background: url("./pics/laugh.png");
  background-size: contain;
}

.about {
  margin: auto 10vw 5vh 10vw;
  background-image: url('./pics/laugh.png');
  background-repeat: no-repeat;
  background-size: 10vh;
  background-position: bottom 10vh right;
}

.about ul {
  text-align: left;
  margin: 0 30vw;
  list-style-position: outside;
}

.about p {
  text-align: left;
}

.about .contact {
  text-align: center;
}